@import url(https://fonts.google.com/specimen/Figtree);

:root{
    --ff-primary: 'Figtree', sans-serif;

    --fw-reg: 500;
    --fw-bold: 800;

    --clr-yellow: hsl(47, 88%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-500: hsl(0, 0%, 42%);
    --clr-grey-950: hsl(0, 0% ,7%);
}

@media (max-width: 1440px){

}

@media (min-width: 375px){
    
}

body {
    background-color: var(--clr-yellow);
    font-family: var(--ff-primary);
    font-size: 16px;
}

.blog-preview-card {
    background-color: var(--clr-white);
    border: 2px solid var(--clr-grey-950);
    border-radius: 20px;
    display: block;
    overflow: hidden;
    max-width: 384px;
    max-height: 522px;
    padding: 2px, 24px;
    margin:200px auto;
}

.blog-preview-card__image {
    width: 336px;
    height: 200px;
    padding: 24px 24px 0 24px;
    border-radius: 10px;
}

.content {
    display: block;
    padding: 0 24px;
    margin-bottom: 0;
}

.learning {
    background-color: var(--clr-yellow);
    width: 20%;
    border-radius: 4px;
    padding: 4px 12px;
}

p.published {
    font-size: 12px;
    color: var(--clr-grey-950);
    margin: 0;
}


p.summary {
    font-size: 16px;
    line-height: 1.4em;
    color: var(--clr-grey-500);
    margin: 0;
    padding: 0 0 24px 0;
}

.author {
    display: flex;
    align-items: center;
    padding: 0 24px 24px 24px;
}
.author-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 16px;
}

.author-name{
    font-weight: var(--fw-bold);
    text-align: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }